.Button-box-highlight {
    padding-right: 2px;
    background-color: transparent;
    transition: background-color 0.2s ease, color 0.2s ease;
    mix-blend-mode: normal;
}

.Button-box-highlight:hover {
    padding-right: 2px;
    background-color: white;
    cursor: pointer;
    mix-blend-mode: screen;
}

.Floating-video {
    position: absolute;
    filter: blur(4px);
}

.Floating-image {
    position: absolute;
    filter: blur(6px);
    opacity: 0.4;
}

.Social-icon {
    color: white;
    font-size: 42px;
    transition: all 0.2s ease;
    padding: 5px;
    border-radius: 5px;
}

.Social-icon:hover {
    color: #414C52;
    font-size: 42px;
    background-color: white;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.Tight-fadeout-text {
    line-height: 76px;
    opacity: 100%;
    filter: blur(0px);
    transition: all 0.4s ease-in-out;
}

.Tight-fadeout-text:hover {
    line-height: 76px;
    opacity: 20%;
    filter: blur(2px);
}

.Tight-fadeout-subText {
    line-height: 76px;
    opacity: 0%;
    filter: blur(2px);
    position: absolute;
    right: 0px;
    pointer-events: none;
    transition: all 0.4s ease-in-out;
}
.Menu-bar {
    position: sticky;
    top: 90px;
    height: 0px;
    align-items: center;
    justify-content: center;
}