.Centered-container-horz-vert {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Even-spread-to-edges {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}