html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 0 0;
}

button {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: 0px;
}

.Back {
    z-index: 5;
}

.Middle {
    z-index: 10;
}

.Front {
    z-index: 15;
}

.Margin-to-center {
    padding-left: 18vw;
    padding-right: 18vw;
}