.Inter-black {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.Inter-regular {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.Spacing-tight {
    letter-spacing: -4px;
}

.Spacing-medium {
    letter-spacing: -3px;
}

.Spacing-normal {
    letter-spacing: -2px;
}

.Spacing-wide {
    letter-spacing: 4px;
}

.Text-window-large {
    font-size: 96px;
}

.Text-window-medium {
    font-size: 64px;
}

.Text-window-small {
    font-size: 28px;
}

.Text-ipad-large {
    font-size: 64px;
}

.Text-ipad-medium {
    font-size: 42px;
}

.Text-ipad-small {
    font-size: 16px;
}

.Text-phone-large {
    font-size: 42px;
}

.Text-phone-medium {
    font-size: 28px;
}

.Text-phone-small {
    font-size: 10px;
}

.Text-white {
    color: white;
}

.Text-dark-gray {
    color: #414C52;
}

.Drop-shadow-black {
    text-shadow: 0 0 32px rgba(22, 19, 19, 0.1);
}